.pricing{
    text-align: center;
    padding-top: 140px;
}

.pricing h1{
    text-align: center;
    color: #0C0047;
    font-size: 50px;
}

.pricing p{
    text-align: center;
    color: #969696;
    font-style: normal;
    font-size: x-small

}

.annuel {
    display: inline-block;
    width: 50px;
    margin: 0 auto;
    background-color: #969696;
    border-radius: 20px;

}

#boutn{
    display: block;
    text-align: left;
    color: black;
}