.suite1{
    text-align: center;
    margin-top: 159px;
    font-size: 25pt;
    
}
.ptext1{
    text-align: center;
    color: #969696;
    font-style: normal;
    font-size: x-small;
    padding-bottom: 65px;
}
